<div class="container">
    <div class="row">
        <div class="col-md-12 controls">
            <%= link_to 'New Thing', new_thing_path %>
        </div>
    </div>


    <div class="row thing-list">
        <% @things.each do |thing| %>
            <div class="col-md-3 thing-card">
                <div class="thing-inner">
                    <a href="/things/<%= thing.id %>">
                        <%= image_tag thing.image.url(:medium) %>
                    </a>

                    <% if thing.user %>
                        <%= link_to 'Profile', thing.user %>
                    <% end %>
                </div>

            </div>
        <% end %>


 <!--       <div class="col-md-12">


             <table class="things-table">
              <thead>
                <tr>
                  <th>Parent</th>
                  <th>User</th>
                  <th>Bounty</th>
                  <th>Text</th>
                  <th>Type</th>
                  <th>Url</th>
                  <th>Image</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @things.each do |thing| %>
                  <tr>
                    <td><%= thing.parent_id %></td>
                    <td><%= thing.user_id %></td>
                    <td><%= thing.bounty %></td>
                    <td><%= thing.text %></td>
                    <td><%= thing.thing_type %></td>
                    <td><%= thing.url %></td>
                    <td><%= image_tag thing.image.url(:thumb) %></td>
                    <td><%= link_to 'Show', thing %></td>
                    <td><%= link_to 'Edit', edit_thing_path(thing) %></td>
                    <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table> 


        </div>-->



    </div>

    <div class="row">
        <div class="col-md-12">
            <%= link_to 'New Thing', new_thing_path %>
        </div>
    </div>

</div>


