<div class="container thing-show">
    <div class="row">
        <div class="col-md-12">
            <p id="notice"><%= notice %></p>
        </div>
    </div>









    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default thing-panel">
                <div class="panel-heading">
                    <span class="ancestor-count">
                        <span class="glyphicon glyphicon-circle-arrow-up"></span>
                        <%= @thing.ancestors.count-1 %>
                    </span>
                    <span class="child-count">
                        <span class="glyphicon glyphicon-circle-arrow-down"></span>
                        <%= @thing.children.count-1 %>
                    </span>
                    <span class="pull-right">
                        <%= @thing.created_at.strftime('%c') %>
                    </span>
                </div>
                <div class="panel-body">
                    <%= image_tag @thing.image.url %>
                </div>
                <div class="panel-footer clearfix">
                    <%= link_to 'Recycle', new_thing_path(:parent => @thing.id), {:class => "btn btn-primary btn-sm "} %> 

                    <span class="pull-right">
                        <%= render partial: "things/vote", locals: {thing: @thing} %>
                    </span>
                </div>
            </div>

        </div>
    </div>






    <div class="row ancestors">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Ancestors</h2>
                </div>
                <div class="panel-body">
                    <% if @thing.ancestors.count>1 %>
                        <% @thing.ancestors.each do |ancestor| %>
                            <% if ancestor.id != @thing.id %>
                                <div class="col-md-1 thing-small">
                                    <div class="thing-inner">
                                        <a href="/things/<%= ancestor.id %>">
                                            <%= image_tag ancestor.image.url(:thumb) %>
                                        </a>
                                    </div>
                                </div>
                            <% end %>
                        <% end %>
                    <% else %>
                        No Ancestors
                    <% end %>
                </div>

            </div>
        </div>






        <% if @thing.ancestors.count>1 %>
            <% @thing.ancestors.each do |ancestor| %>
                <% if ancestor.id != @thing.id %>
                    <div class="col-md-1 thing-small">
                        <div class="thing-inner">
                            <a href="/things/<%= ancestor.id %>">
                                <%= image_tag ancestor.image.url(:thumb) %>
                            </a>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <div class="col-md-12">
                <p>No Ancestors</p>
            </div>
        <% end %>

    </div>

    <div class="row children">
        <div class="col-md-12">
            <h2>Children</h2>
            <hr />
        </div>
        
        <% if @thing.children.count>1 %>
            <% @thing.children.each do |child| %>
                <% if child.id != @thing.id %>
                    <div class="col-md-1 thing-small">
                        <div class="thing-inner">
                            <a href="/things/<%= child.id %>">
                                <%= image_tag child.image.url(:thumb) %>
                            </a>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% else %>
            <div class="col-md-12">
                <p>No Children</p>
            </div>
        <% end %>
    </div>



</div>