<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p id="notice"><%= notice %></p>

            <p>
              <strong>Parent:</strong>
              <%= @thing.parent_id %>
            </p>

            <p>
              <strong>User:</strong>
              <%= @thing.user_id %>
            </p>

            <p>
              <strong>Bounty:</strong>
              <%= @thing.bounty %>
            </p>

            <p>
              <strong>Text:</strong>
              <%= @thing.text %>
            </p>

            <p>
              <strong>Type:</strong>
              <%= @thing.thing_type %>
            </p>

            <p>
              <strong>Url:</strong>
              <%= @thing.url %>
            </p>
            <p>
              <strong>Image:</strong>
              <%= image_tag @thing.image.url %>
              <%= image_tag @thing.image.url(:medium) %>
              <%= image_tag @thing.image.url(:thumb) %>
            </p>

            <%= link_to 'Edit', edit_thing_path(@thing) %> |
            <%= link_to 'Back', things_path %>
        </div>
    </div>
</div>