<div class="container thing-show">
    <div class="row">
        <div class="col-md-12">
            <p id="notice"><%= notice %></p>
        </div>
    </div>









    <div class="row">
        <div class="col-md-12">

            <p>
              <%= image_tag @thing.image.url %>
            </p>
            <p>
                <%= render partial: "things/vote", locals: {thing: @thing} %>
            </p>

            <p>
              <strong>User:</strong>
              <%= @thing.user_id %>
            </p>

            <p>
              <strong>Bounty:</strong>
              <%= @thing.bounty %>
            </p>

            <p>
              <strong>Text:</strong>
              <%= @thing.text %>
            </p>

            <p>
              <strong>Type:</strong>
              <%= @thing.thing_type %>
            </p>

            <p>
              <strong>Url:</strong>
              <%= @thing.url %>
            </p>


            <%= link_to 'Recycle', new_thing_path(:parent => @thing.id) %> |
            <%= link_to 'Edit', edit_thing_path(@thing) %> |
            <%= link_to 'Back', things_path %>
        </div>
    </div>






    <div class="row ancestors">
        <div class="col-md-12">
            <h2>Ancestors</h2>
        </div>

        <% @thing.ancestors.each do |ancestor| %>
            <% if ancestor.id != @thing.id %>
                <div class="col-md-1 thing-small">
                    <div class="thing-inner">
                        <a href="/things/<%= ancestor.id %>">
                            <%= image_tag ancestor.image.url(:thumb) %>
                        </a>
                    </div>
                </div>
            <% end %>
        <% end %>

    </div>

    <div class="row children">
        <div class="col-md-12">
            <h2>Children</h2>
        </div>
        
        <% @thing.children.each do |child| %>
            <% if child.id != @thing.id %>
                <div class="col-md-1 thing-small">
                    <div class="thing-inner">
                        <a href="/things/<%= child.id %>">
                            <%= image_tag child.image.url(:thumb) %>
                        </a>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>



</div>