<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @vote.thing_id %>
</p>

<p>
  <strong>Creative:</strong>
  <%= @vote.creative %>
</p>

<p>
  <strong>Beautiful:</strong>
  <%= @vote.beautiful %>
</p>

<p>
  <strong>Inspiring:</strong>
  <%= @vote.inspiring %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
